body {
	font-family: sans-serif;
	max-width: 1000px;
	margin: 0 auto;
	padding: 1rem;
	background: #eee;
	color: #000;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}

hr {
	border: none;
}

a {
	color: #616ab6;
	text-decoration: none;
}

a:visited {
	color: #801d72;
}

a:hover {
	color: #7494c3;
	text-decoration: underline;
}

a:active {
	color: #27397a;
}

h1 {
	margin: 0;
	font-size: 1.4rem;
}

nav {
	background-color: #C0CEED;
	display: flex;
	align-items: center;
}

img.laizheader {
	image-rendering: pixelated;
	image-rendering: crisp-edges;
	height: 64px;
	width: auto;
}

ul,
ol {
	padding-left: 1.2rem;
}

footer {
	font-size: .9rem;
	color: #555;
	margin-top: 2rem;
}

.mallocd-header {
	display: flex;
	/*align-items: center;*/
	color: #fff;
	background-color: #667EAD;
	padding-top: 5px;
	line-height: 0.9;
}

.nav-font-selector {
	margin-left: auto;
	font-size: 1rem;
	border: none;
	background: #C0CEED;
	color: #000;
	cursor: pointer;
}

.nav-font-selector:hover {
	background-color: #667EAD;
	color: #fff;
}

.navitem {
	padding-right: 10px;
	padding-left: 10px;
}

.navitem:visited {
	color: #000;
}

.navitem:hover {
	color: #237;
}

.mallocdnews {
	display: flex;
	align-items: center;
	gap: .5rem;
	background: #667EAD;
	color: #fff;
	margin: 0;
	/*padding: .5rem;*/
}

.title {
	line-height: 1.1;
}

.tagline {
	font-size: .9rem;
	color: #eaa;
}

.tagline:hover {
	color: #eaa;
	text-decoration: none;
}

.laizheader {
	height: 40px;
	width: auto;
	flex: 0 0 auto;
}

.nav-font-selector {
	font-style: italic;
	font-family: serif
}