body {
	margin: 0;
	padding: 0;
	background-color: #101010;
	color: #ffdddd;
	font-family: "Times New Roman", serif;
	line-height: 1.6;
}

.container {
	max-width: 700px;
	margin: 3em auto;
	padding: 0 1em;
	text-align: left;
	box-sizing: border-box;
	width: 100%;
}

html {
	font-size: 12pt;
}

a {
  color: #c0cbff;
  text-decoration: underline;
}

hr {
  border: none;
  border-top: 1px solid #ffdddd;
  margin: 2em 0;
}

@media (max-width: 600px) {
	html {
		font-size: 15px;
	}

	.container {
		padding: 0 1em;
		margin: 2em 0.5em;
	}
}

